<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de cuentas: Lista</title>
    <link rel="stylesheet" href="/static/pico.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><strong>App Ingresos/Gastos</strong></li>
                </ul>
                <ul>
                    <li class="--pico-primary-inverse"><a href="#">Inicio</a></li>
                    <li class="--pico-primary-inverse"><a href="#">Nuevo</a></li>
                    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
                </ul>
            </nav>

        </div>
    </header>
    <section class="container">
        <h1>Lista de movimientos</h1>
        <table class="striped">
            <thead>
                <tr>
                    <th scope="col">Fecha </th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2025-09-01</th>
                    <td>Nomina</td>
                    <td>1900</td>
                    <td>
                        <a href="#">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                        <a href="#">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
         <div class="container">
             &copy; 2025 Alba de Diego
        </div>
    </footer>

</body>
</html>