header, footer{
    background-color: var(--pico-primary);
    color: var(--pico-primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}

body{
    min-height: 100vh;
    display: grid;
    grid-auto-flow: auto auto 1fr auto;
    margin: 0;
}

.miTituloNav{
    color: var(--pico-primary-inverse);
}

.botonRojo{
    background-color: #D93526;
}

ul.errors{
    color: #D93526;
    font-weight: bold;
    font-size: 0.8em;
}

ul.flashes{
    color: rgb(97, 178, 16);
    font-weight: bold;
    font-size: 0.8em;
}